/* GALERIA */

.galeria {
    margin: 30px 0;
    --size: 100px;
    display: grid;
    grid-template-columns: repeat(6, var(--size));
    grid-auto-rows: var(--size);
    margin-bottom: var(--size);
    place-items: start center;
    gap: 5px;
}

.galeria:has(:hover) .imgGaleria:not(:hover),
.galeria:has(:focus) .imgGaleria:not(:focus) {
    filter: brightness(0.5) contrast(0.5);
}

.imgGaleria {
    object-fit: cover;
    width: calc(var(--size) * 2);
    height: calc(var(--size) * 2);
    clip-path: path("M90,10 C100,0 100,0 110,10 190,90 190,90 190,90 200,100 200,100 190,110 190,110 110,190 110,190 100,200 100,200 90,190 90,190 10,110 10,110 0,100 0,100 10,90Z");
    transition: clip-path 0.25s, filter 0.75s;
    grid-column: auto/span 2;
    border-radius: 5px;
}

.imgGaleria:nth-child(5n -1) {
    grid-column: 2 / span 2;
}

.imgGaleria:hover, .imgGaleria:focus {
    clip-path: path("M0,0 C0,0 200,0 200,0 200,0 200,100 200,100 200,100 200,200 200,200 200,200 100,200 100,200 100,200 100,200 0,200 0,200 0,100 0,100 0,100 0,100 0,100Z");
    z-index: 1;
    transition: clip-path 0.25s filter 0.25s;
}

.imgGaleria:focus {
    outline: 1px dashed black;
    outline-offset: -5px;
}


@media (max-width: 800px) {

    .galeria {
        margin: 30px 0;
        --size: 100px;
        display: grid;
        grid-template-columns: repeat(3, var(--size));
        grid-auto-rows: var(--size);
        margin-bottom: var(--size);
        place-items: start center;
        gap: 3px;
    }

    .imgGaleria {
        object-fit: cover;
        width: calc(var(--size) * 2);
        height: calc(var(--size) * 2);
    }

    .imgGaleria, .imgGaleria:nth-child(5n -1) {
        grid-column: 1;

    }

    .imgGaleria:nth-child(3n -1) {
        grid-column: 3;   
    }

    .imgGaleria:nth-child(4n -1) {
        grid-column: 2;
        
    }

    .imgGaleria:nth-child(6), .imgGaleria:nth-child(8) {
        grid-row: 5 /span 2; 
    }    
}