header {
  text-align: center;
  background-color: #860a0a1a;
}

header img {
  width: auto;
}

img {
  width: 100%;
}

body {
  background-color: #F2F2F2;
  color: #F22E9A;
  margin: 0;
  padding: 0;
  text-align: center;
}

main {
  display: grid;
  place-items: center;
  margin: 20px 0;
}